In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# 데이터베이스 생성 및 연결
conn = sqlite3.connect("gmc.db")
cur = conn.cursor()

# 테이블 생성
conn.execute('CREATE TABLE classroom(building TEXT NOT NULL, name TEXT NOT NULL, capacity INTEGER NOT NULL, PRIMARY KEY(building, name))')

conn.execute('CREATE TABLE classroom_reservation(session_id TEXT, building TEXT, name TEXT, member_num INTEGER, starttime TEXT, endtime TEXT, FOREIGN KEY(building, name) REFERENCES classroom(building, name))')
conn.execute('''
  CREATE TABLE recommendation_history(
    session_id TEXT,
    member_num INTEGER,
    building0 TEXT, name0 TEXT,
    building1 TEXT, name1 TEXT,
    building2 TEXT, name2 TEXT,
    building3 TEXT, name3 TEXT,
    building4 TEXT, name4 TEXT,
    building5 TEXT, name5 TEXT,
    building6 TEXT, name6 TEXT,
    building7 TEXT, name7 TEXT,
    building8 TEXT, name8 TEXT,
    FOREIGN KEY(building0, name0) REFERENCES classroom(building, name),
    FOREIGN KEY(building1, name1) REFERENCES classroom(building, name),
    FOREIGN KEY(building2, name2) REFERENCES classroom(building, name),
    FOREIGN KEY(building3, name3) REFERENCES classroom(building, name),
    FOREIGN KEY(building4, name4) REFERENCES classroom(building, name),
    FOREIGN KEY(building5, name5) REFERENCES classroom(building, name),
    FOREIGN KEY(building6, name6) REFERENCES classroom(building, name),
    FOREIGN KEY(building7, name7) REFERENCES classroom(building, name),
    FOREIGN KEY(building8, name8) REFERENCES classroom(building, name))
''')

# 커밋 및 종료
conn.commit()
conn.close()

In [ ]:
# 강의실 인스턴스 저장
instances = []
for index, row in vir_classrooms.iterrows():
  instances.append((row['building'], row['room'], row['max']))
print('len:', len(instances))

In [ ]:
# DB에 강의실 추가
conn = sqlite3.connect("gmc.db")
cur = conn.cursor()

cur.executemany('INSERT INTO classroom VALUES (?, ?, ?)', instances)

conn.commit()
conn.close()

In [ ]:
# 강의실 테이블 SQL로 불러오기
conn = sqlite3.connect("gmc.db")

cur = conn.cursor()

cur.execute("SELECT * FROM classroom;")
# cur.execute("PRAGMA table_info(recommendation_history)")

rows = cur.fetchall()

for row in rows[:20]:
    # print(row)
    print(row[0] + " " + row[1] + " " + str(row[2]))
  
conn.close()